[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Vignette pour la version du 2 août 2008 à 17:35
Type=Link
URL=http://www.pokepedia.fr/images/0/00/Sprite_4_dm2_251.png
Icon=image-png
Name[fr_FR]=celebi
